.galleryItem {
  width: 250px;
  height: 400px;
  margin: 0 15px 40px;
  position: relative;
  background-position: top center;
  background-size: cover;
  box-shadow: 0 4px 22px 1px rgba(0,0,0,.5);
  overflow: hidden;
}

.galleryItem__title {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: #343434;
  color: #ffffff;
  font: normal 14px Arial, sans-serif;
}
