.search {
  width: 400px;
  display: flex;
  margin: 0 auto 60px;
  color: #000000;
  font: normal 14px Arial, sans-serif;
}

.search__input {
  max-width: 100%;
  margin: 0;
  padding: 10px 14px;
  flex: 1 0 auto;
  border: 1px solid #E0E1E2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: inherit;
  outline: 0;
}

.search__input:focus {
  border-color: #9adae8;
}

.search__button {
  display: flex;
  flex: 0 0 auto;
  background: #E0E1E2;
  border: 1px solid #E0E1E2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: none;
  color: rgba(0,0,0,.6);
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  outline: 0;
}

.search__button:hover {
  cursor: pointer;
  background-color: #E9E9E9;
  border-color: #E9E9E9;
}
